.section-heading {
    padding: 1rem 0;
}

.page-section-heading {
    font-size: 4rem;
    font-family: Verdana, Helvetica, sans-serif;
    color: black;
}

.control-group {
    font-size: 1.5rem;
    font-family: Verdana, Helvetica, sans-serif;
    color: black;
}