.form-control {
    width: 100%;
    margin: 0 auto;
}

.forgot-password-form {
    padding: 1rem 0;    
}

.auth-form-header {
    text-align: center;
    font-size: 4rem;
    font-family: Verdana, Helvetica, sans-serif;
    color: black;
}

.auth-form-body {
    background-color: #f6f8fa;
    padding-left: 20rem;
    padding-right: 20rem;    
    border: 0.5px #eaeaea;
    border-radius: 25px;
}

.email-field {
    font-size: 1rem;
    font-family: Verdana, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.btn {
    width: 100%;
    background-color: #2ea44f;
    border-color: #2ea44f;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
