<section class="page-section text-white mb-0">
    <div class="container">
        <div class="section-heading">
            <h2 class="page-section-heading text-center text-uppercase">About</h2>
        </div>        
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead">This is a simple UI application in order to sharpen your skills. Fill free to download the code which includes the complete source files.</p></div>
            <div class="col-lg-4 mr-auto"><p class="lead">You can create your own custom application by following the stracture of the application in order to make your own fully functional Application!</p></div>
        </div>
        <div class="text-center mt-4">
            <p class="hyperLink"><a href="https://github.com/mikediman">Get the source Code from github here!</a></p>           
        </div>
    </div>    
</section>