<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-owner">Created by:</h4>
                <p class="text-name">Dimanopoulos Michalis</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-web">Around the Web</h4>
                <a href="https://github.com/mikediman">
                    <img class="icon-arounf-web" src="assets/img/githublogo.png" alt="logo">
                 </a>
            </div>
            <div class="col-lg-4">
                <h4 class="text-about">About Freelancer:</h4>
                <p class="text-name">Freelance is a free to use.</p>
            </div>
        </div>
    </div>
</footer>
<div>
    <app-subfooter></app-subfooter>
</div>