<div class="modal-signin">
    <div class="modal-header">
      <h4 class="modal-title">Sign In to Eco App</h4>
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelSignIn()">{{ btnCloseText }}</button>
    </div>
    <div class="modal-body">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required maxlength="150" minlength="5">
      <label for="passworf"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required maxlength="50">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="SignIn()">Sign In</button>  
    </div>
  </div>