<div class="modal-signup">
    <div class="modal-header">
      <h4 class="modal-title">Create your Account</h4>
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelSignUp()">{{ btnCloseText }}</button>
    </div>
    <div class="modal-body">
      <label for="email"><b>Email*</b></label>
      <input type="text" placeholder="Enter Email" name="email" required maxlength="50">
      <label for="password"><b>Password*</b></label>
      <input type="password" placeholder="Enter Password" name="password" required maxlength="50">
      <label for="re-password"><b>Re-Password*</b></label>
      <input type="password" placeholder="Re-enter Password" name="re-password" required maxlength="50">
      <div class="have-account">
        <a routerLink="/sign-in" (click)="onSignIn()"><p>Have an account? Sign In</p></a>
      </div>
    </div>   
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="SignUp()">Create Account</button>  
    </div>
</div>