<div class="navigation-bar">
    <mat-toolbar>
        <div fxHide.gt-xs>
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon [ngStyle]="{'color':'white'}">menu</mat-icon>
            </button>
        </div>
        <div><a mat-button href="/"><mat-icon [ngStyle]="{'color':'white'}">eco</mat-icon>Eco</a></div>
        <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
            <ul fxLayout fxLayoutGap="15px" class="navigation-items">
                <li><a mat-button routerLink="/home" (click)="onClickHome(home)">Home</a></li>
                <li><a mat-button routerLink="/about" (click)="onClickAbout(about)">About</a></li>
                <li><a mat-button routerLink="/contact" (click)="onClickContact(contact)">Contact</a></li>
                <li><a mat-button routerLink="/sign-in" (click)="onClickSignIn()">Sign In</a></li>
                <li><a mat-button routerLink="/sign-up" (click)="onClickSignUp()">Sign Up</a></li>
            </ul>
        </div>
    </mat-toolbar>
</div>
<div #home>
  <app-home></app-home> 
</div>
<div #about>
  <app-about></app-about>
</div>
<div #contact>
  <app-contact></app-contact>
</div>
<div>
  <app-footer></app-footer>
</div>